html {
font-family: 'Open Sans', sans-serif;
}

.header {
 background-color: F2F2F2;
 padding-top: 10px;
}


a:link { color:#8C1515 !important; }
a:hover { color:#8C1515 !important; }
a:visited { color:#8C1515 !important; }
a:active { color:#8C1515 !important; }

.boldtext {
    font-weight: 700 !important;
}

.semiboldtext {
    font-weight: 500 !important;
}

.smalltext {
font-size:.8em;
}

#brand {
font-family: 'Raleway', sans-serif;
font-size: 2.2em;
}


#overview {
font-size: 1.5em;
line-height: 1.35em;
margin-bottom: 12px;
}

#groups {
  margin-top: 5px;
  font-size: 1.2em;
}

#join {
font-size: 1.4em;
margin-top: .3em;
margin-bottom: .5em;
}

#content {
padding-top: 10px;
}

.deets {
font-style: italic;
}

.subcontent {
 margin-top: 10px;
 margin-bottom: 10px;
}


.subsubcontent {
 margin-top: 6px;
}

.newsitem {
 font-size: .9em;
 margin-top: 12px;
 margin-bottom: 12px;
}

.newsdate {
 font-size: .9em;
 color: #555;
}

.talktitle {
}

.talkdate {
 font-size: .9em;
 float: right;
 color: #555;
}


#publist {
margin-bottom: 24px;
}


#vitals {
font-size: 1.2em;
font-weight: 600;
}

#twitter-wrapper {
 margin-top: 20px;
 margin-bottom: 30px;
}

.pubyear {
 margin-top: 12px;
 clear: both;
 font-size: 1.4em;
 color: 222;
}

.subhead {
 font-size: 18px;
 margin-top: 1em;
 margin-bottom: 6px;
 font-weight: 500;
}

.pubentry {
 display: block;
 overflow: hidden; 
 margin-top: 6px;
 margin-bottom: 12px;
}

.pubtext{
 height: 64px;
 display: table-cell; 
 vertical-align:middle;
}

.thumblink {
text-decoration: none;
}

.pubaward {
font-weight: 600;
font-style: italic;
}

.pubthumb {
 width: 60px;
 border: 1px solid #444;
 float: left;
 margin-right: 10px;
 margin-top: 4px;
 margin-bottom: 4px;
}

.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.showmobile {
  display: none;
}

@media screen and (max-width: 800px) {
.hidemobile {
  display: none;
}

.showmobile {
  display: block !important;
}

